@define-color bg #0d0d0d;
@define-color darkgrey #131822;
@define-color lightgrey #343a40;
@define-color red #e30b44;
@define-color white #f2efeb;
@define-color flake #d2fff3;
@define-color icyblue #aad1ee;
@define-color flakeicy #e5f0fa;
@define-color avocado #c1d98f;
@define-color lightyellow #f6eac4;
@define-color tray #181825;

* {
  border: none;
  border-radius: 10px;
  min-height: 0;
  font-family: "Fira Code", "Symbols Nerd Font Mono";
  font-size: 12px;
  background: none;
}

window#waybar {
  background: transparent;
}

tooltip {
border-radius: 8px;
padding: 15px;
background-color: @darkgrey;
}

tooltip label {
padding: 5px;
background-color: @darkgrey;
}

#workspaces {
  margin: 6px 3px;
  background: @bg;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 10px;
  border-radius: 6px;
  background-color: @bg;
  color: @lightgrey;
  font-size: 10px;
}

#workspaces button.active {
  color: @lightyellow;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: @lightyellow;
 background-color: @lightgrey;
}

#temperature,
#cpu,
#memory,
#custom-power,
#custom-nixlogo,
#custom-weather,
#custom-pacman,
#backlight,
#pulseaudio,
#network,
#battery,
#backlight,
#bluetooth,
#clock,
#tray {
  border-radius: 8px;
  margin: 6px 2px;
  padding: 6px 12px;
  background-color: @bg;
  color: @tray;
}

#temperature,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#battery,
#backlight,
#bluetooth{
  color: @lightyellow;
  background-color: @bg;
}

#clock{
  font-family: JetBrainsMono Nerd Font;
  background-color: @flake;
}

#custom-weather,
#custom-power {
  background-color: @bg;
  color: @lightyellow;
}

#custom-nixlogo {
  font-size: 14px;
  color: @icyblue;
}
